<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <% let rootpath = "../"; %>
  <%- include(rootpath + 'include/stylesheets') %>
</head>
<body>
  <%- include(rootpath + 'include/navbar') %>
  <%- include(rootpath + 'include/gameTable') %>
  <div id="filterContainer">
    <p id="filterHeader">Filters</p>
    <form action="?" method="GET">
      <% for (let i = 0; i < genres.length; i += 1){ %>
        <% if (genres[i].name != 'Unkown'){ %>
        <input type="checkbox" id="genre<%= genres[i].id %>" name="genres" value="<%= genres[i].id %>">
        <label for="genre<%= genres[i].id %>"> <%= genres[i].name %></label><br>
        <% }} %>
        <input type="radio" name="platforms" id="nothing" value="nothing" checked>
        <label for="nothing">All platforms </label><br>
      <% for (let i = 0; i < platforms.length; i += 1){ %>
        <% if (platforms[i].name != 'Unkown'){ %>
        <input type="radio" id="platform<%= platforms[i].id %>" name="platforms" value="<%= platforms[i].id %>">
        <label for="platform<%= platforms[i].id %>"> <%= platforms[i].name %></label><br>
        <% }} %>
        <span id="sliderValue"></span><br>
        <input type="range" min="2015" max="2030" value="2015" id="sliderMin" name="sliderMin">
        <input type="range" min="2015" max="2030" value="2030" id="sliderMax" name="sliderMax">
        <input type="text" placeholder="Search name" id="search" name="search">
        <button type="submit" class="customBtn">Search</button>
    </form>
  </div>
  <script src="js/games.js"></script>
</body>
</html>