<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documengit t</title>
  <% let rootpath = "../"; %>
  <%- include(rootpath + 'include/stylesheets') %>
</head>
<body>
  <%- include(rootpath + 'include/navbar') %>
	<div id="gameContainer">
		<div id="gameName">
			<%= game.name %>
		</div>
		<div id="gameTrailer">
			<%- game.trailer %>
		</div>
		<div id="studioName">
			<%= game.studioName %>
		</div>
		<div id="gameGenre">
			<%= game.genresName %>
		</div>
		<div id="gameInfo">
			<%= game.info %>
		</div>
	</div>
</body>
</html>