<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documengit t</title>
  <% let rootpath = "../"; %>
  <%- include(rootpath + 'include/stylesheets') %>
</head>
<body>
  <%- include(rootpath + 'include/navbar') %>
	<div id="gameContainer" class="sandblasted">
		<div id="gameName">
			<span><%= game.name %></span> <br>
			by<span><%= game.studioName %></span>
		</div>
		<div id="content">
			<div class="right innerContainer">
				<div id="gameGenre">
					<h1>Generes</h1>
					<%= game.genresName %>
				</div>
				<div id="gameTrailer">
					<%- game.trailer %>
				</div>
			</div>
			<h2 class="head">Information about the game</h2>
			<p id="gameInfo">
				<%= game.info %>
			</p>
		</div>
	</div>
</body>
</html>