<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= game.name %></title>
  <% let rootpath = "../"; %>
  <%- include(rootpath + 'include/stylesheets') %>
  <% if(game.background != 'NONE'){ %>
    <style>
      @media (min-width : 581px) {
        body{ 
          background-image: url('/images/backgrounds/<%=game.background%>'); 
          background-size:100% 100%; 
        }
      }
      @media (max-width : 580px) {
        body{
          background-image: url('/images/backgrounds/<%=game.mobileBackground%>'); 
          background-size:100% 100%;
        } 
      }
    </style>
  <% } %> 
</head>
<body>
  <%- include(rootpath + 'include/navbar') %>
	<div id="main">
	<div id="gameContainer" class="sandblasted">
		<div id="gameName">
			<span><%= game.name %></span> <br>
			by<span><a href="/games?studio=<%= game.idStudio %> "><%= game.studioName %></a></span>
		</div>
    <iframe src="https://opencritic.com/game/7404/score?theme=dark" frameborder="0" height="102"></iframe>
		<div id="content">
			<div class="right innerContainer">
				<div id="gameGenre">
					<h1>Generes</h1>
					<%= game.genresName %>
				</div>
				<div id="gameTrailer">
					<iframe width="560" height="315" src="<%= game.trailer %>"
					title="YouTube video player" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
				</div>
			</div>
			<h2 class="head">Information about the game</h2>
			<p id="gameInfo">
				<%= game.info %>
			</p>
		</div>
	</div>
</div>
</body>
</html>