<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <% let rootpath = "../"; %>
  <%- include(rootpath + 'include/stylesheets') %>
</head>
<body>
  <%- include(rootpath + 'include/navbar') %>
  <div id="flexContainer">
    <table class="customTable sandblasted">
      <thead class="sticky">
        <tr>
          <th>Publisher</th>
          <th>Games in DB</th>
          <% if(username != 'none') { %>
            <th class="whiteout cur_default">Update</th>
            <th class="whiteout cur_default">Delete</th>
          <% } %>
        </tr>
      </thead>
      <% for (let i = 0; i < publishers.length; i += 1){ %>
        <tr onclick="window.location='/games?publisher=<%= publishers[i].id %>';">
          <td><%= publishers[i].name %></td>
          <td><%= publishers[i].games %></td>
          <% if(username != 'none') { %>
            <td class="buttonContainer">
              <form action="/updateStudio" method="GET"><button type="submit" class="customBtn">Update</button>
              <input type="hidden" name="idStudio" id="idStudio" value="<%= publishers[i].id %>"></form>
            </td>
            <td class="buttonContainer">
              <form action="/ds" method="POST"><button type="submit" class="customBtn">Delete</button>
              <input type="hidden" name="idStudio" id="idStudio" value="<%= publishers[i].id %>"></form>
            </td>
          <% } %>
        </tr> 
      <% } %> 
    </table>
  </div>
</body>
</html>