<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <% let rootpath = "../"; %>
  <%- include(rootpath + 'include/stylesheets') %>
</head>
<body>
  <%- include(rootpath + 'include/navbar') %>
  <div id="flexContainer">
    <table class="customTable sandblasted">
      <thead class="sticky">
        <tr>
          <th>Studio</th>
          <th>Staff</th>
          <th>City</th>
          <th>Country</th>
          <th class="whiteout cur_default">Update</th>
          <th class="whiteout cur_default">Delete</th>
        </tr>
      </thead>
      <% for (let i = 0; i < studios.length; i += 1){ %>
        <tr><td><%= studios[i].name %> </td>
        <td><%= studios[i].staffAmmount %> </td>
        <td><%= studios[i].city %> </td>
        <td><%= studios[i].country %> </td>
        <td class="buttonContainer">
          <form action="/updateStudio" method="GET"><button type="submit" class="customBtn">Update</button>
          <input type="hidden" name="idStudio" id="idStudio" value="<%= studios[i].id %>"></form>
        </td>
        <td class="buttonContainer">
          <form action="/ds" method="POST"><button type="submit" class="customBtn">Delete</button>
          <input type="hidden" name="idStudio" id="idStudio" value="<%= studios[i].id %>"></form>
        </td>
      </tr> 
      <% } %> 
    </table>
    <div id="filterContainer">
      <p id="filterHeader">Filters</p>
      <form action="?" class="hide" method="GET">
          <button type="submit" class="customBtn">Search</button>
      </form>
    </div>
  </div>
</body>
</html>