<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <% let rootpath = "../"; %>
  <%- include(rootpath + 'include/stylesheets') %>
</head>
<body>
  <%- include(rootpath + 'include/navbar') %>
  <div id="customForm">
  <% if (action == 'create') { %>
    <form action="/createGame" method="POST">
      <div class="formItem">
        <input type="text" class="formInput" id="gameName" class="formInput" name="gameName" placeholder=" ">
        <label for="gameName">Name:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="year" id="year" placeholder=" ">
        <label for="year">Year:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="month" id="month" placeholder=" ">
        <label for="month">Month:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="idStudio" id="idStudio" placeholder=" ">
        <label for="idStudio">Studio id:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="ytTrailer" id="ytTrailer" placeholder=" ">
        <label for="ytTrailer">Youtube trailer link:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="info" id="info" placeholder=" ">
        <label for="info">Info:</label>
      </div><% } else { %>
    <form action="/updateGame" method="POST">
      <div class="formItem">
        <input type="text" id="gameName" class="formInput" name="gameName" value="<%= row.name %>" placeholder=" ">
        <label for="gameName">Name:</label>
      </div>
      <input type="hidden" name="idGame" value="<%= row.id %>" placeholder=" ">
      <div class="formItem">
        <input type="text" class="formInput" name="year" id="year" value="<%= row.year %>" placeholder=" ">
        <label for="year">Year:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="month" id="month" value="<%= row.month %>" placeholder=" ">
        <label for="month">Month:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="idStudio" id="idStudio" value="<%= row.idStudio %>" placeholder=" ">
        <label for="idStudio">Studio id:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="info" id="info" value="<%= row.info %>" placeholder=" ">
        <label for="info">Info:</label>
      </div>
    <% } %>
      <button type="submit" id="submitBtn" class="customBtn"><%= action %></button>
    </form>
  </div>
</body>
</html>