<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <% let rootpath = "../"; %>
  <%- include(rootpath + 'include/stylesheets') %>
</head>
<body>
  <%- include(rootpath + 'include/navbar') %>
  <div id="customForm">
  <% if (action == 'create') { %>
    <form action="/createGame" method="POST">
      <div class="formItem">
        <input type="text" class="formInput" id="gameName" class="formInput" name="gameName" placeholder=" ">
        <label for="gameName">Name:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="year" id="year" placeholder=" ">
        <label for="year">Year:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="month" id="month" placeholder=" ">
        <label for="month">Month:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="ytTrailer" id="ytTrailer" placeholder=" ">
        <label for="ytTrailer">Youtube trailer link:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="info" id="info" placeholder=" ">
        <label for="info">Info:</label>
      </div>
      <div>
        <select name="studios">
          <% for (let i = 0; i < studios.length; i += 1){ %>
            <option value="<%= studios[i].id %>"><%= studios[i].name %></option>
          <% } %>
        </select>
      </div>
      <div>
        <select name="publishers">
          <% for (let i = 0; i < publishers.length; i += 1){ %>
            <option value="<%= publishers[i].id %>"><%= publishers[i].name %></option>
          <% } %>
        </select>
      </div>
      <div>
        <% for (let i = 0; i < genres.length; i += 1){ %>
        <input type="checkbox" id="<%= genres[i].id %>" name="genres" value="<%= genres[i].id %>">
        <label for="<%= genres[i].id %>"> <%= genres[i].name %></label><br>
        <% } %>
      </div>
      <div>
        <% for (let i = 0; i < platforms.length; i += 1){ %>
        <input type="checkbox" id="<%= platforms[i].id %>" name="platforms" value="<%= platforms[i].id %>">
        <label for="<%= platforms[i].id %>"> <%= platforms[i].name %></label><br>
        <% } %>
      </div>
      <% } else { %>
    <form action="/updateGame" method="POST">
      <div class="formItem">
        <input type="text" id="gameName" class="formInput" name="gameName" value="<%= row.name %>" placeholder=" ">
        <label for="gameName">Name:</label>
      </div>
      <input type="hidden" name="idGame" value="<%= row.id %>" placeholder=" ">
      <div class="formItem">
        <input type="text" class="formInput" name="year" id="year" value="<%= row.year %>" placeholder=" ">
        <label for="year">Year:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="month" id="month" value="<%= row.month %>" placeholder=" ">
        <label for="month">Month:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="ytTrailer" id="ytTrailer" value="<%= row.youtubeTrailer %>" placeholder=" ">
        <label for="ytTrailer">Youtube trailer link:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="info" id="info" value="<%= row.info %>" placeholder=" ">
        <label for="info">Info:</label>
      </div>
      <div>
        <br>
        <select>
          <% for (let i = 0; i < studios.length; i += 1){ %>
            <option value="<%= studios[i].id %>"><%= studios[i].name %></option>
          <% } %>
        </select>
      </div>
      <br>
      <div>
        <% for (let i = 0; i < genres.length; i += 1){ %>
        <input type="checkbox" id="<%= genres[i].id %>" name="genres" value="<%= genres[i].id %>">
        <label for="<%= genres[i].id %>"> <%= genres[i].name %></label><br>
        <% } %>
      </div>
    <% } %>
      <button type="submit" id="submitBtn" class="customBtn"><%= action %></button>
    </form>
  </div>
</body>
</html>