<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <% let rootpath = "../"; %>
  <%- include(rootpath + 'include/stylesheets') %>
</head>
<body>
  <%- include(rootpath + 'include/navbar') %>
  <div id="customForm">
    <% if (action == 'create') { %>
      <form action="/createGame" method="POST">
        <div class="formItem">
          <input type="text" class="formInput textInput" id="gameName" class="formInput" name="gameName" placeholder=" ">
          <label for="gameName" class="disable-select">Name:</label>
        </div>
        <div class="formItem">
          <input type="text" class="formInput textInput" name="year" id="year" placeholder=" ">
          <label for="year" class="disable-select">Year:</label>
        </div>
        <div class="formItem">
          <input type="text" class="formInput textInput" name="month" id="month" placeholder=" ">
          <label for="month" class="disable-select">Month:</label>
        </div>
        <div class="formItem">
          <input type="text" class="formInput textInput" name="ytTrailer" id="ytTrailer" placeholder=" ">
          <label for="ytTrailer" class="disable-select">Youtube trailer link:</label>
        </div>
        <div class="formItem">
          <input type="text" class="formInput textInput" name="info" id="info" placeholder=" ">
          <label for="info" class="disable-select">Info:</label>
        </div>
        <div class="formItem">
          <select name="studios">
            <% for (let i = 0; i < studios.length; i += 1){ %>
              <option value="<%= studios[i].id %>"><%= studios[i].name %></option>
            <% } %>
          </select>
        </div>
        <div class="formItem">
          <select name="publishers">
            <% for (let i = 0; i < publishers.length; i += 1){ %>
              <option value="<%= publishers[i].id %>"><%= publishers[i].name %></option>
            <% } %>
          </select>
        </div>
        <div class="formItem">
          <% for (let i = 0; i < genres.length; i += 1){ %>
            <input type="checkbox" id="<%= genres[i].id %>" name="genres" value="<%= genres[i].id %>" <% if(genres[i].id == 18) { %> checked <%}%>>
            <label for="<%= genres[i].id %>"> <%= genres[i].name %></label><br>
          <% } %>
        </div>
        <div class="formItem">
          <% for (let i = 0; i < platforms.length; i += 1){ %>
            <input type="checkbox" id="<%= platforms[i].id %>" name="platforms" value="<%= platforms[i].id %>" <% if(platforms[i].id == 9) { %> checked <%}%>>
            <label for="<%= platforms[i].id %>"> <%= platforms[i].name %></label><br>
          <% } %>
        </div>
    <% } else { %>
      <form action="/updateGame" method="POST">
        <div class="formItem">
          <input type="text" id="gameName" class="formInput textInput" name="gameName" value="<%= game.name %>" placeholder=" ">
          <label for="gameName" class="disable-select">Name:</label>
        </div>
        <input type="hidden" name="idGame" value="<%= game.id %>" placeholder=" ">
        <div class="formItem">
          <input type="text" class="formInput textInput" name="year" id="year" value="<%= game.year %>" placeholder=" ">
          <label for="year" class="disable-select">Year:</label>
        </div>
        <div class="formItem">
          <input type="text" class="formInput textInput" name="month" id="month" value="<%= game.month %>" placeholder=" ">
          <label for="month" class="disable-select">Month:</label>
        </div>
        <div class="formItem">
          <input type="text" class="formInput textInput" name="ytTrailer" id="ytTrailer" value="<%= game.youtubeTrailer %>" placeholder=" ">
          <label for="ytTrailer" class="disable-select">Youtube trailer link:</label>
        </div>
        <div class="formItem">
          <input type="text" class="formInput textInput" name="info" id="info" value="<%= game.info %>" placeholder=" ">
          <label for="info" class="disable-select">Info:</label>
        </div>
        <div class="formItem">
          <select name="studios">
            <% for (let i = 0; i < studios.length; i += 1){ %>
              <option value="<%= studios[i].id  %>" <% if(studios[i].id == game.idStudio) {%> selected <% } %> ><%= studios[i].name %></option>
            <% } %>
          </select>
        </div>
        <div class="formItem">
          <select name="publishers">
            <% for (let i = 0; i < publishers.length; i += 1){ %>
              <option value="<%= publishers[i].id %>" <% if(publishers[i].id == game.idPublisher) {%> selected <% } %> ><%= publishers[i].name %></option>
            <% } %>
          </select>
        </div>
        <div class="formItem subgrid">
          <% for (let i = 0; i < genres.length; i += 1){ %>
            <div class="subgridItem">
            <input type="checkbox" id="<%= genres[i].id %>" name="genres" value="<%= genres[i].id %>" <% for(let j = 0; j < gameGenres.length; j += 1) { if(genres[i].id == gameGenres[j].idGenre) {%> checked <% } }   %>>
            <label for="<%= genres[i].id %>"> <%= genres[i].name %></label>
          </div>
          <% } %>
        </div>
        <div class="formItem subgrid">
          <% for (let i = 0; i < platforms.length; i += 1){ %>
            <div class="subgridItem">
            <input type="checkbox" id="<%= platforms[i].id %>" name="platforms" value="<%= platforms[i].id %>" <% for(let j = 0; j < gamePlatforms.length; j += 1) {if(platforms[i].id == gamePlatforms[j].idPlatform) {%> checked <% } }  %>>
            <label for="<%= platforms[i].id %>"> <%= platforms[i].name %></label>
          </div>
          <% } %>
        </div>
    <% } %>
    <button type="submit" id="submitBtn" class="customBtn"><%= action %></button>
    </form>
  </div>
</body>
</html>