<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <% let rootpath = "../"; %>
  <%- include(rootpath + 'include/stylesheets') %>
</head>
<body>
  <%- include(rootpath + 'include/navbar') %>
  <div id="customForm">
  <% if (action == 'create') { %>
    <form action="/createStudio" method="POST">
      <div class="formItem">
        <input type="text" class="formInput" id="studioName" class="formInput" name="studioName" placeholder=" ">
        <label for="studioName">Name:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="city" id="city" placeholder=" ">
        <label for="city">City:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="country" id="country" placeholder=" ">
        <label for="country">Country:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="staffAmmount" id="staffAmmount" placeholder=" ">
        <label for="staffAmmount">Staff:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="founded" id="founded" placeholder=" ">
        <label for="founded">Founded:</label>
      </div><% }
   else { %>
    <form action="/updateStudio" method="POST">
      <div class="formItem">
        <label for="studioName">Name:</label>
        <input type="text" id="studioName" name="studioName" value="<%= row.name %>" placeholder="">
      </div>
      <input type="hidden" name="idStudio" value="<%= row.id %>" placeholder="">
      <div class="formItem">
        <label for="city">City:</label>
        <input type="text" name="city" id="city" value="<%= row.city %>" placeholder="">
      </div>
      <div class="formItem">
        <label for="country">Country:</label>
        <input type="text" name="country" id="country" value="<%= row.country %>" placeholder="">
      </div>
      <div class="formItem">
        <label for="staffAmmount">Staff:</label>
        <input type="text" name="staffAmmount" id="staffAmmount" value="<%= row.staffAmmount %>" placeholder="">
      </div><% }
   %>
      <button type="submit" id="submitBtn" class="customBtn"><%= action %></button>
  </form>
</div>
</body>
</html>