<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <% let rootpath = "../"; %>
  <%- include(rootpath + 'include/stylesheets') %>
</head>
<body>
  <%- include(rootpath + 'include/navbar') %>
  <div id="customForm">
  <% if (action == 'create') { %>
    <form action="/createStudio" method="POST">
      <div class="formItem">
        <input type="text" class="formInput" id="studioName" class="formInput" name="studioName" placeholder=" ">
        <label for="studioName" class="disable-select">Name:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="city" id="city" placeholder=" ">
        <label for="city" class="disable-select">City:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="country" id="country" placeholder=" ">
        <label for="country" class="disable-select">Country:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="staffAmmount" id="staffAmmount" placeholder=" ">
        <label for="staffAmmount" class="disable-select">Staff:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="founded" id="founded" placeholder=" ">
        <label for="founded" class="disable-select">Founded:</label>
      </div>
  <% } else { %>
    <form action="/updateStudio" method="POST">
      <div class="formItem">
        <input type="text" id="studioName" class="formInput" name="studioName" value="<%= studio.name %>" placeholder=" ">
        <label for="studioName" class="disable-select">Name:</label>
      </div>
      <input type="hidden" name="idStudio" value="<%= studio.id %>" placeholder=" ">
      <div class="formItem">
        <input type="text" class="formInput" name="city" id="city" value="<%= studio.city %>" placeholder=" ">
        <label for="city" class="disable-select">City:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="country" id="country" value="<%= studio.country %>" placeholder=" ">
        <label for="country" class="disable-select">Country:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="staffAmmount" id="staffAmmount" value="<%= studio.staffAmmount %>" placeholder=" ">
        <label for="staffAmmount" class="disable-select">Staff:</label>
      </div>
      <div class="formItem">
        <input type="text" class="formInput" name="founded" id="founded" value="<%= studio.founded %>" placeholder=" ">
        <label for="founded" class="disable-select">Founded:</label>
      </div>
  <% } %>
  <button type="submit" id="submitBtn" class="customBtn"><%= action %></button>
  </form>
</div>
</body>
</html>